.container
  .row
    .col-md-12
      .row
        .col-sm-6
          .pad
            %img{src:"images/old-woman.jpg"}
        .col-sm-6
          .pad
            .personal
              %h1 Doris Smith
              %p DOB: 12/11/1937
              %p Born: Watford
              %p Gender: F
            .likes
              %a{href: "/media", class:"btn btn-sucess btn-default"} Media
              %a{href: "/diet", class:"btn btn-sucess btn-default"} Diet
              %a{href: "/family", class:"btn btn-sucess btn-default"} Family
      .row
        .col-sm-12
          .pad 
            %h2 Summary
            %p Doris is 78. She was diagnosed with dementia in 2010.
            %p She's been a resident at Sunny Acres since August 2013 and has settled in well.
            %p She has made several friends at the home, including Bert Ackland and Polly Spool.
      .row
        .col-sm-12
          .pad 
            %h2.expand Home life
            .hide
              %p Doris is 78. She was diagnosed with dementia in 2010.
              %p She's been a resident at Sunny Acres since August 2013 and has settled in well.
              %p She has made several friends at the home, including Bert Ackland and Polly Spool.
      .row
        .col-sm-12
          .pad 
            %h2.expand History
            .hide
              %p Doris is 78. She was diagnosed with dementia in 2010.
              %p She's been a resident at Sunny Acres since August 2013 and has settled in well.
              %p She has made several friends at the home, including Bert Ackland and Polly Spool.
      .row
        .col-sm-12
          .pad 
            %h2 
              Diary
              %small Add+
            %ul
              %li October 28th 2014. Doris took part in the Music Group
              %li September 22nd 2014. Doris was taken to Cromer Pier
              %li August 3rd 2014. Doris skyped her son in Brisbane